<section class="container" style="display:flex; justify-content:flex-start; flex-direction:column; margin-top:30px;">
      
</section>
<section class="container">
  <section class="filters container">
    <ul class="filter-category nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass] = "{'active':category==='all'}" (click)="searchByCategory('all')">Todo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass] = "{'active':category==='Cine'}" (click)="searchByCategory('Cine')">Cine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass] = "{'active':category==='Deportes'}" (click)="searchByCategory('Deportes')">Deportes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass] = "{'active':category==='Literatura'}" (click)="searchByCategory('Literatura')">Literatura</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass] = "{'active':category==='Series'}" (click)="searchByCategory('Series')">Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass] = "{'active':category==='Otros'}"(click)="searchByCategory('Otros')">Ocio</a>
        </li>
      </ul>
      <div class="filter-date">
        <p style="margin-right:5px;" class="card-text">Fecha:  </p>
        <input (input)="searchByDate($event)" type="date">
      </div>
      
  </section>
  
  
  <!--Grid row-->
  <div *ngIf="listShow.length !== 0" class="row">
    <div  *ngFor="let e of listShow" class="col-md-4">
        <app-card (click)=demoBasic.show() (showEvent)="showInfo($event)" [event]="e"></app-card>
    </div>
    
  </div>
  <div *ngIf="listShow.length === 0">
    <h3>No se han encontrado resultados para la busqueda</h3>
  </div>
  <div mdbModal #demoBasic="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-notify modal-info" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="heading lead">{{eventShow.name}}</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>
                    <div class="modal-body card-detail">
                        <div class="card-detail-image">
                            <img [src]="categories[eventShow.category]" class="img-fluid">
                        </div>
                        <div class="text-center">
                            <p>{{eventShow.description}}</p>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        
                        <div class="footer-calendar">{{eventShow.date}} - {{eventShow.time}} </div>
                    </div>
                </div>
            </div>
        </div>
  <nav *ngIf="list.length > 18" style="display:flex; justify-content:center;" class="my-4">
    <ul class="pagination pagination-circle pg-blue mb-0">

        <!--First-->
        <li *ngIf="pageSelected != 0" class="page-item" (click)="selectFirstPage()">
          <a class="page-link" mdbRippleRadius>First</a>
        </li>

        <!--Arrow left-->
        <li *ngIf="pageSelected != 0" class="page-item" (click)="selectPage(this.pageSelected-1)">
            <a class="page-link" mdbRippleRadius aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
    
        <!--Numbers-->
        
        <li *ngFor="let y of pages; let page = index" (click)="selectPage(page)" class="page-item">
          <a class="page-link" mdbRippleRadius>{{page+1}}</a>
        </li>
        

        <!--Arrow right-->
        <li *ngIf="pageSelected != (pages.length - 1)" class="page-item" (click)="selectPage(this.pageSelected+1)">
            <a class="page-link" mdbRippleRadius aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

        <!--Last-->
        <li *ngIf="pageSelected != (pages.length - 1)" class="page-item" (click)="selectLastPage()"><a class="page-link">Last</a></li>
    
    </ul>
</nav>
</section>